/* Tablet and desktop */

@media only screen and (min-width: 601px) {

    /* Navbar begins */
    #navbar header .nav-container nav .nav-box .nav-links ul .menu-btn {
        display: none;
    }

    #navbar header .nav-container nav .nav-box .nav-links ul li .list {
        display: block;
    }

    /* Navbar Ends  */
}

/* Smart Phones */

@media only screen and (max-width: 600px) {

    /* Navbar begins */
    #navbar header .nav-container nav .nav-box .nav-links ul .menu-btn {
        display: block;
    }

    #navbar header .nav-container nav .nav-box .nav-links ul li .list {
        display: none;
    }

    /* Navbar Ends */

    /* Sidebar Begins*/


    /* Sidebar Ends*/
}


@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}