
/* Smartphone Size */

@media only screen and (max-width:600px) {
    
    /* Navbar Section */

    #navbar nav .nav-links .list {
        display: none;
    }
    #navbar nav .nav-links .menu-btn {
        display: block;
        margin-right: 10px;
    }

    /* Sidebar Section */

    /* Body Area */
    #body-area {
        background-size: cover;
    }

    #body-area .menu-list .menu-box{
        width: 125px;
    }

    .container {
        height: fit-content;
    }

    .result-boxes {
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }

     .result-boxes .container {
        width: 100%;
     }

     .result-boxes .container-2 {
        width: 100%;
        margin-left: 0;
     }
}

@media only screen and (max-width:300px) {
   
}