/* Navbar Styles Begins */

#navbar {
    position: fixed;
}

#navbar header .nav-container nav .nav-box {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.665);
    color: white;
}

#navbar header .nav-container nav .nav-box .img-nav {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

#navbar header .nav-container nav .nav-box .img-nav .logo {
    padding: 5px 5px 0;
    color: white;
}

#navbar header .nav-container nav .nav-box .img-nav .logo img {
    width: 50px;
    height: 50px;
}

#navbar header .nav-container nav .nav-box .nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

#navbar header .nav-container nav .nav-box .nav-links ul li {
    padding: 10px;
}

#navbar header .nav-container nav .nav-box .nav-links .nav-btn {
    padding: 15px;
    font-size: 15px;
    background-color: rgb(45, 43, 42);
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

#navbar header .nav-container nav .nav-box .nav-links ul .menu-btn {
    font-size: 20px;
    color: white;
    border-radius: 8px;
    background-color: rgb(47, 46, 46);
    margin-right: 10px;
}

/* Navbar Styles Ends */

/* Smart Phones */

@media only screen and (max-width: 600px) {

    /* Navbar begins */
    #navbar header .nav-container nav .nav-box .nav-links ul .menu-btn {
        display: block;
    }

    #navbar header .nav-container nav .nav-box .nav-links ul li .list {
        display: none;
    }
}
    /* Navbar Ends */