

.container{
    width: 100%;
    height: 100%;
}

.sidebar{
    position: fixed;
    width: 320px;
    height: 100vh;
    background-color: lightcyan;
}

.sidebar.collapse{
    background-color: lightcyan;
}

.side_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: aquamarine;
}

.side_header i {
    font-size: 30px;
    color: black;
}

.side_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.user_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar h1 , .sidebar h2{
    font-weight: 500
}

.sidebar h2{
    font-weight: 300;
    font-size: 20px;
}

.logout_btn a{
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.side_user i{
    font-size: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 50%;
}

.logout_btn a:hover{
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.side_menu_list{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    padding: 10px;
    width: 100%;
    list-style: none;
    
}


.side_menu_list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.side_menu_list li a i{
    padding: 10px;
}

.side_menu_list li{
    background-color: gray;
}
.side_menu_list li:hover{
    background-color: beige;
}

.title{
    color: rgb(19, 18, 18) ;
}
.weather-bottom{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.weather-bottom input[type=text]{
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-head{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.weather-city p{
    font-size: 2rem;
}

.weather-temp .temp{
    font-size: 3rem;
}


.weather-description p{
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    justify-content: right;
}

.weather-footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.weather-footer .bold{
    font-weight: 600;
    font-size: 1.5rem;
}

.weather-footer .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Side footer */

.side_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: lightgreen;
}

/* Main */
  .main-container{
    position: absolute;
    left: 320px;
    right: 0;
    width: calc(100% - 320px);
    background-color: rgb(149, 236, 207);
    height: 100vh;
    padding: 10px;
  }

  /* Navbar */

  .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left a , .right a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    color: black;
  }


  .left a i{
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
  }

  .right {
    padding: 10px;
    background-color: lightcyan;
    border: 7px;
  }

  /* Search */

  .search-bar {
    width: 100%;
    padding: 10px;
    /* background-color: #636060; */
    display: flex;
    justify-content: space-between;
}

.left-search {
    border-radius: 50px;
    width: 100%;
    background-color: #faf8f8b2;
    padding: 2px 2px 2px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.2);
}

.left-search input[type=text]{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #d3d2d2;
    margin-bottom: 5px;
}



.left-search a {
    position: relative;
    background-color: rgb(110, 114, 106);
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: -5px 1px 6px rgba(236, 236, 236, 0.2);
    right:0
}

.left-search:hover {
    background-color: #fff;
    transition: .5s;
}

i {
    color: #fff
}

.right-search {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 5px;
    justify-content: space-between;
    padding-left: 20px;
}

.right-search .box {
    padding: 10px 15px;
    background-color: #f3f2f2;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.1);
    margin: 0 2px;
}

.box i {
    color: #000
}



/* Dictionary */

.dictionary_container
{
    position: relative;
    padding: 10px;
    background-color: lightgreen;
    height: 100vh;
    width: 100%;
}

.dictionary_container form{
display: flex;
justify-content: space-between;
position: relative;
padding: 5px;
border-radius: 50px;
background-color: white;
right: 0;
width: 40%;
align-items: center;
}

.dictionary_container form input[type=text]{
    margin-top: 12px;
    border: none;
    padding: 0;
    width: 100%;
    margin-left: 10px;
    outline: none;
    padding-bottom: 0;
}

.dictionary_container .search_btn{
    font-size: 10px;
    border: none;
    border-radius: 50%;
}

.dictionary_container .search_btn i{
    color: black;
    padding: 10px;
    margin: 2px;
}
.dictionary_box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: left;
    height: 40vh;
    padding: 20px;
}

.dictionary_box h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
}

.dictionary_box .phonetics{
    margin-bottom: 20px;
}

.dictionary_box .definition{
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    width: 90%;
    margin-bottom: 20px;
    
}

.image{
    width: 20em;
    max-height: 20em;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recent_search{
   background-color: white;
   margin: 5px;
   padding-top: 0;
   padding-bottom: 5px;
}

.recent_search .recent_list{
    align-items: center;
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
}

.recent_search .recent_list li{
    width: 90%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 10px;
}

.recent_search .recent_title{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    background-color: aqua;
    margin-bottom: 5px;
}








/* Media */
  @Media only screen and (min-width:1007px){

    .main-container{
    transition: 0.5s;
    }

    .sidebar{
        transition: 0.5s;
    }
  }
  @Media only screen and (max-width:1006px){

    .main-container {
    
     width: 100%;
     left: 0;
     transition: 0.5s;
    }

    .main-container.collapse{
     left: 320px;
     transition: 0.5s;
     width: 66%;
     
    }

    .sidebar {
        margin-left: -350px;
        transition: 0.5s;
        width: 40%;
    }

    .sidebar.collapse{
        margin-left: 0;
        width: 320px;
        align-items: center;
        transform: 0.5;
    }

    }
    